# --- Blockchain ---
RPC_URL=http://127.0.0.1:7545
CHAIN_ID=1337
CONTRACT_ADDRESS=
DEPLOYER_PRIVATE_KEY=

# --- Backend ---
PORT=4000

# --- MongoDB ---
MONGODB_URI=mongodb+srv://suhas:Fordmustang1969@suhas.cbbha.mongodb.net/
MONGODB_DB_NAME=vehicle_registry
